<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<div class="form-popup" id="myForm">
    <form action="/login" method="POST" class="form-container">

        <h2>Login</h2>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>

        <label for="description"><b>Description</b></label>
        <input type="text" placeholder="Enter Description" name="description" required>

        <label for="price"><b>Price</b></label>
        <input type="number" placeholder="Enter Price" name="price" required>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
</body>
</html>