<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <title>Cart</title>
</head>
<body>

<a href="/products" class="btn mt-3">Main</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">created</th>
        <th scope="col">action</th>
        <th scope="col"></th>
        <th scope="col"></th>

    </tr>
    </thead>
    <#list cartItems as cartItem>
    <tr>
        <form action="/products/add" method="post" class="form-container">
            <input type="hidden" name="id" id="id" value="${cartItem.id}"/>
            <td><input style="border: none;" type="text" onclick="" name="name" id="name" value="${cartItem.name}"/></td>
            <td><input style="border: none;" type="text" onclick="" name="description" id="description" value="${cartItem.description}"/></td>
            <td><input style="border: none;" type="text" onclick="" name="price" id="price" value="${cartItem.price?string.computer}"/></td>
            <td><button type="button" onclick="remove(${cartItem.id})" class="btn btn-outline-danger">Delete</button></td>
            <td><input style="border: none;" type="text" id="created" name="created"
                       value="${cartItem.created?datetime.iso?string('dd.MM.yy HH:mm:ss')}"/></td>
        </form>
    </tr>
</#list>
</table>
</body>
</html>